body {
  text-decoration: none;
  color: white;
}
ul {
  padding-left: 0;
}
h1 {
  font-size: 20px;
  padding-left: 1rem;
}
#contact_container {
  padding: 0.4rem 0rem 1rem 0rem;
  background-color: #3d3d3d;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: fit-content;
  border-radius: 1rem;
}
#list_container {
}
.info {
  padding-left: 30px;
}
.status_dot {
  color: green;
  padding: 0px 10px 0px 5px;
  margin-left: 15px;
}
#email_phone {
  color: black;
  float: right;
  margin-right: 15px;
  border-radius: 5px;
}
.contact_item_odd {
  background-color: #3d3d3d;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}
.contact_item_even {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  background-color: #333232;
}
